/*IMPORTANDO FUENTES*/
@font-face {
  font-family: "Lato";
  src: url("../Fonts/Lato/Lato-Regular.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*PARA CONTROLAR EL SCROLL*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato";
}

.contenedor {
  width: 90%;
  max-width: 1300px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;

}

header {
  height: 100vh;
  background-image: linear-gradient(to top, rgba(41, 216, 204, 0.582) 0%, rgba(180, 144, 202, 0.557) 100%), url(../img/internet2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}

.container-head {
  padding: 0;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.container-head p {
  font-size: 35px;
}

.principal {
  position: fixed;
  top: 25px;
  right: 25px;
  background: #fff;
  border-radius: 8px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.menu-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  /*EFECTO*/
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /*EFECTO*/
  transition: transform .3s easy-in-out;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  transform: translate(110%);

}

.menu-nav a {
  color: #fff;
  text-decoration: none;
}

/*PARA APARECER BOTON MENU*/
.spread {
  transform: translate(0);
}

/*FIN BOTON MENU*/

.titulo {
  font-size: 60px;
  margin-bottom: 15px;
}

.copy {
  font-weight: 300;
  font-size: 25px;
}

/*NUESTROS SERVICIOS*/
.subtitulo {
  text-align: center;
  font-weight: 300;
  color: #52b788;
  margin-bottom: 40px;
  font-size: 40px;
}

.contenedor-servicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-servicio img {
  width: 40%;

}

.launch-servicio {
  width: 45%;
}

.service {
  margin-bottom: 20px;
}

.n-service {
  margin-bottom: 7px;
  color: #52b788;

}

.number {
  display: inline-block;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  border-radius: 50%;
  line-height: 30px;
  margin-right: 5px;
}

.gallery {
  background: #e9ecef;
}

.contenedor-galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-galeria {
  width: 30%;
  object-fit: cover;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.imagen-light {
  position: fixed;
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform .2s ease-in-out;
}

.show {
  transform: translate(0);
}

.agregar-img {
  width: 60%;
  object-fit: cover;
  border-radius: 10px;
  /*EFECTO IMG*/
  transform: scale(1);
  transition: transform .3s .2s;
}

/*PARA AGREGAR LA IMG CUANDO DAMOS CLICK*/
.show-img {
  transform: scale(0);
}

.cerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
}

/*EXPERTOS*/
.experts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

.cont-experts {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.cont-experts img {
  width: 100%;
  display: block;
  margin-bottom: 15px;

}

.n-expert {
  display: inline-block;
  margin: 20px;
  width: 100%;
  font-weight: 600;
  text-align: center;
}

/*FOOTER*/
footer {
  background:#52b788;
  padding-bottom: 0.1px;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;

}
.contact-us{
  width: 40%;
  color: #fff;
}
.brand{
  font-weight: 500;
  font-size: 40px;
  margin: 10px;
}
.brand img{
  width: 7%;
  margin-left: 10px;
  margin-top: 9px;
}
.contact-us p{
  font-weight: 500;
  margin-left: 15px;
  font-size: 20px;
}
.social-media{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.social-media-icon{
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.social-media-icon:hover{
  background: #fff;
  color:#52b788;
}
.social-media-icon i{
  font-size: 30px;
  line-height: 60px;
}
.line{
  width: 90%;
  max-width: 1300px;
  margin: 5px auto;
  height: 2px;
  background: #fff;
  margin-bottom: 60px;
}
.footer-text{
  justify-content: center;
  color: #dee2e6;
  text-align: center;
  padding-bottom: 20px;
}
/*DISEÑO RESPONSIVE*/
/*PANTALLA 500PX*/
@media screen and (max-width:800px){
  .menu-nav {
    width: 50vw;
  }
  .titulo{
    font-size: 40px;
  }
  /*SERVICIOS*/
  .contenedor-servicio img{
    width: 80%;
    margin-bottom: 40px;
  }
  .launch-servicio{
    width: 80%;
  }
  .service{
    margin-bottom: 30px;
  }
  .agregar-img{
    width: 80%;
  }
  .img-galeria{
    width: 40%;
  }

  /*EXPERTOS*/
  .cont-experts{
    width: 80%;
  }
  /*FOOTER*/
  .footer-content{
    justify-content: center;
  }
  .social-media{
    width: 80%;
    justify-content: space-evenly;
  }
  .social-media-icon{
    margin-left: 0;
  }
  .social-media i{
    margin-left: 0;
  }
  .contact-us{
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }
  .brand img{
    width: 10%;
  }

}
/*PANTALLA 300PX*/
@media screen and (max-width:500px){
  .menu-nav{
    width: 65vw;
  }
  .principal{
    top: 20px;
    right: 20px;
  }
  .titulo{
    font-size: 30px;
  }
  .subtitulo{
    font-size: 30px;
  }
  .agregar-img{
    width: 95%;
  }
  .img-galeria{
    width: 95%;
  }
  .social-media{
    width: 100%;
  }
  .contact-us{
    width: 90%;
  }
  .brand img{
    width: 30%;
  }
}